@using System.ComponentModel.Design


@if (Displayable)
{
    <Button Color="@Color"
            Outline="@Outline"
            Size="@Size"
            Clicked="@Clicked"
            Class="@Class"
            Style="@($"width: {Width};  {(Hidden ? "visibility: hidden" : null)}; margin: 0.1rem")"
            Type="@Type">
        @if (!string.IsNullOrWhiteSpace(Icon))
        {
            <i class="@($"fa-solid {Icon}")" style="width: 1.6em"></i>
        }
        @Text
    </Button>
}