@using Blazorise
@using DrugSchedule.Client.Components.Common

<Modal @ref="_modal"
       ScrollToTop="true"
       Shadow="Shadow.Large"
       ShowBackdrop="true"
       Animated="true"
       AnimationDuration="400"
       Closing="@OnModalClosing">
    <ModalContent Centered Size="ModalSize.Default" Scrollable>
        <ModalHeader Class="">
            <div class="h5 mb-0 pb-0">@(Title)</div>
        </ModalHeader>
        <ModalBody Class="">
            @AlertText
            @AlertBody
        </ModalBody>
        <ModalFooter Class="">
            <CustomButton Text="Да" Color="Color.Primary" Icon="fa-check"
                          Clicked="@YesClick" Width="7rem" Displayable="@(!_isInfo)" />
            <CustomButton Text="Нет" Color="Color.Danger" Icon="fa-xmark"
                          Clicked="@NoClick" Width="7rem" Displayable="@(!_isInfo)" />
            <CustomButton Text="Отмена" Color="Color.Secondary" Icon="fa-ban"
                          Clicked="@CancelClick" Width="7rem" Displayable="_showCancel" />
            <CustomButton Text="OK" Color="Color.Primary" Icon="fa-check"
                          Clicked="@CancelClick" Displayable="@(_isInfo)" Width="8.5rem" />

        </ModalFooter>
    </ModalContent>
</Modal>