<Modal @ref="_editModal"
       Closing="@OnModalClosing"
       Animated="true"
       AnimationDuration="400">
    <ModalContent Scrollable="true" Centered="true" Size="ModalSize.Large">
         <ModalHeader>
             <h5>@(ItemText)</h5>
         </ModalHeader>

         <ModalBody Class="" Style="scroll-behavior: smooth;">
             <Validations @ref="_validations"
                          Mode="ValidationMode.Auto"
                          MissingFieldsErrorMessage="Поля заполнены некорректно!"
                          StatusChanged="@(a => { _isValid = a.Status != ValidationStatus.Error; })">
                 @EditorModalBody
            </Validations>
        </ModalBody>
        <ModalFooter Style="justify-content: normal;" Class="d-flex align-content-around flex-wrap">

            <CustomButton Displayable="@(AllowRemove && Delete != null)"
                          Text="Remove" Color="Color.Danger" Icon="fa-trash-can"
                          Clicked="@ConfirmDeleteAsync" Width="8rem" />

            <div class="ms-auto d-flex">
                <CustomButton Displayable="@(AllowSave && Save != null && _isValid)"
                              Text="Save" Color="Color.Primary" Icon="fa-floppy-disk" Clicked="@ConfirmSaveAsync" Width="10rem" />
                <CustomButton Text="Cancel" Color="Color.Secondary" Icon="fa-ban" Clicked="@Hide" Width="7rem" />
            </div>

        </ModalFooter>
    </ModalContent>
</Modal>

<CustomAlert @ref="_alert" />