<div>
    <Validations @ref="_validations"
                 Mode="ValidationMode.Auto"
                 MissingFieldsErrorMessage="Поля заполнены некорректно!"
                 StatusChanged="@(a => { _isValid = a.Status != ValidationStatus.Error; })">
        @EditorModalBody
    </Validations>
    <hr />
    <div class="d-flex justify-content-between">
        <CustomButton Displayable="@(AllowRemove && Delete != null)"
                      Text="Remove" Color="Color.Danger" Icon="fa-trash-can"
                      Clicked="@ConfirmDeleteAsync" Width="7rem" Class="d-block"/>

        <CustomButton Displayable="@(AllowSave && Save != null && _isValid)"
                      Class="d-block"
                          Text="Save" Color="Color.Primary" Icon="fa-floppy-disk" Clicked="@ConfirmSaveAsync" Width="7rem"/>
    </div>
    <CustomAlert @ref="_alert" />
</div>