@typeparam TImageModel

<div class="card position-relative overflow-hidden" style="@($"min-width: {PreviewSize}")">
    <img class="mb-auto mt-auto card-img-top" style="@($"width: {PreviewSize}; height: {PreviewSize}; object-fit: cover")"
         src="@GetThumbnailUrl()" alt="@GetAltText()">

    @if (AllowDelete && OnDelete != null)
    {
        <div class="position-absolute d-flex justify-content-between bottom-0 p-1 gap-1">
            <CustomButton Color=Color.Danger Clicked="@(async() => await OnDelete(ImageModel))" Icon="fa-trash-can"></CustomButton>
        </div>
    }
</div>