
<div class="d-flex gap-3 mb-4">
    <TextEdit Text="@SearchValue" TextChanged="SearchValueChanged" Placeholder="Search by name..."/>
    <Check TValue="bool" Checked="@Common" CheckedChanged="CommonChanged" Disabled="CommonOnly" />
</div>

<Virtualize Items="@Contacts" OverscanCount="25">
    <ItemContent>
        <ContactsListElement Contact="@context" Navigable="Navigable" Selectable="Selectable" SelectButtonText="@SelectButtonText" OnSelect="OnSelect" />
    </ItemContent>
    <EmptyContent>
        <p>There are no contacts to display</p>
    </EmptyContent>
</Virtualize>