
<div class="card py-2 px-3 list-element">
    
    <div class="d-flex justify-content-between flex-wrap gap-2">
        <div>
            <h5>@Time</h5>
            <div class="d-flex gap-2 mb-2">
                @foreach (var day in Days)
                {
                    <div class="@GetClass(day)">@day.Name</div>
                }
            </div>
            <div class="text-secondary mb-2">
                <b>Period:</b> <span>@PeriodStart</span>
                @if (PeriodEnd != null)
                {
                    <span>-</span>
                    <span>@PeriodEnd</span>
                }
            </div>
            <div class="mb-2">@((MarkupString)Repeat.TakingRule)</div>
        </div>
        @if (UpcomingTimetable.Count > 0)
        {
            <div>
            <div class="text-secondary fw-bold mb-1">Some nearest dates:</div>
            @foreach (var entry in UpcomingTimetable)
            {
                <div>
                    <TimetableElement TimetableEntry="@entry" NavigableToSchedule="false" />
                </div>
            }
            </div>
        }
    </div>
</div>