@using DrugSchedule.Api.Shared.Dtos

<div class="card list-element flex-row animate">
    <ImagePreview TImageModel="ScheduleSimpleDto"
                  ImageModel="Schedule"
                  ThumbnailUrl="@(x => x?.ThumbnailUrl)"
                  PreviewSize="48px">
    </ImagePreview>

    <div class="card-body d-flex">
        <div class="flex-grow-1">
            <span>@Schedule.MedicamentName</span>
            <div class="d-flex text-secondary ">
                <div>@Schedule.MedicamentReleaseFormName</div>
                <div class="ms-auto">
                    <span>@(Schedule.Enabled ? "Enabled" : "Disabled")</span>
                    <span>|</span>
                    <span>@Schedule.CreatedAt.ToShortDateString()</span>
                </div>
            </div>
        </div>
        
        @if (Selectable)
        {
            <CustomButton Text="@SelectButtonText" Class="d-block" Outline Icon="fa-check" Clicked="SelectAsync"/>
        }
        @if (Navigable)
        {
            <CustomButton Text="Open" Class="d-block" Outline Icon="fa-arrow-up-right-from-square" Clicked="Navigate" />
        }
    </div>
</div>