@using DrugSchedule.Api.Shared.Dtos

<div class="mb-3">
    <Fields>
        <Field ColumnSize="ColumnSize.Is6.OnTablet">
            <FieldLabel>Name</FieldLabel>
            <TextEdit Text="@NameSearchValue" TextChanged="NameSearchValueChanged" Placeholder="Search by name..." />
        </Field>
        <Field ColumnSize="ColumnSize.Is3.OnTablet">
            <FieldLabel>Release form</FieldLabel>
            <TextEdit Text="@ReleaseFormSearchValue" TextChanged="ReleaseFormSearchValueChanged" Placeholder="Search by release form..." />
        </Field>
        <Field ColumnSize="ColumnSize.Is3.OnTablet">
            <FieldLabel>Manufacturer</FieldLabel>
            <TextEdit Text="@ManufacturerSearchValue" TextChanged="ManufacturerSearchValueChanged" Placeholder="Search by manufacturer name..." />
        </Field>
    </Fields>

</div>

<Virtualize Items="@Medicaments" OverscanCount="25">
    <ItemContent>
        <UserMedicamentListElement Medicament="@context"
                                     Selectable="Selectable" OnSelect="OnSelect"
                                     Navigable="Navigable" 
                                     SelectButtonText="@SelectButtonText"  />
    </ItemContent>
    <EmptyContent>
        <p>There are no medicaments to display</p>
    </EmptyContent>
</Virtualize>

<CustomButton Class="ms-auto" Text="More..." Clicked="MoreMedicamentsAsync" />