@using Microsoft.AspNetCore.Components.Authorization;
@using DrugSchedule.Client.Constants

<div class="nav-items">
    <AuthorizeView Context="authContext">
        <Authorized>
            <NavLink ActiveClass="current" href="/" class="nav-item animate" Match="NavLinkMatch.All">
                <i class="icon fa-solid fa-house"></i>
                <div class="text">Home</div>
            </NavLink>
            <NavLink ActiveClass="current" href="@Routes.Schedule" class="nav-item animate" Match="NavLinkMatch.All">
                <i class="icon fa-solid fa-calendar-days"></i>
                <div class="text">Schedule</div>
            </NavLink>
            <NavLink ActiveClass="current" href="@Routes.GlobalDrugs" class="nav-item animate" Match="NavLinkMatch.All">
                <i class="icon fa-solid fa-book-medical"></i>
                <div class="text">Drug library</div>
            </NavLink>
            <NavLink ActiveClass="current" href="@Routes.UserDrugs" class="nav-item animate" Match="NavLinkMatch.All">
                <i class="icon fa-solid fa-pills"></i>
                <div class="text">User drugs</div>
            </NavLink>
            <NavLink ActiveClass="current" href="@Routes.Profile" class="nav-item animate" Match="NavLinkMatch.All">
                <i class="icon fa-solid fa-circle-user"></i>
                <div class="text">Profile</div>
            </NavLink>
            <NavLink ActiveClass="current" href="@Routes.Contacts" class="nav-item animate" Match="NavLinkMatch.All">
                <i class="icon fa-solid fa-address-book"></i>
                <div class="text">Contacts</div>
            </NavLink>
        </Authorized>
        <NotAuthorized>
            <NavLink ActiveClass="current" href="@Routes.Auth" class="nav-item animate" Match="NavLinkMatch.All">
                <i class="icon fa-solid fa-key"></i>
                <div class="text">Auth</div>
            </NavLink>
        </NotAuthorized>
    </AuthorizeView>
</div>